.card {
  display: inline-block;
  margin: 5px;
  border-radius: 3px;
  box-shadow: 2px 2px 2px black;
  transition-duration: 0.3s;
}

.card img {
  display: block;
}

.card:hover {
  transform: translateY(-5px);
}